<div class="box collapsed-box">
  <%= render 'colegiados/filtro' %>
</div>
<div class="box hidden" id="box_documento">
  <div class="box-body" id="canvas_documento">
  </div>
</div>
<div class="box box-primary">
  <div class="box-header">
    <i class="fa fa-users"></i>
    <h3 class="box-title">Listado de colegiados</h3>
  </div>
  <div class="box-body canvas_listado_colegiados">
    <%= render 'colegiados/listado' %>
  </div>
</div>
<div class="box collapsed-box">
  <%= render 'colegiados/exportaciones' %>
</div>
<div class="box">
  <div class="box-body pad table-responsive">
    <%= link_to " Crear un nuevo colegiado", new_colegiado_path, remote: true, class: "btn btn-block btn-info btn-lg fa fa-plus" %>
  </div>
</div>
<%= render 'colegiados/modal_export_pdf' %>
