<table id="listado-colegiados" class="display table table-bordered table-striped" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th></th>
      <th>Número</th>
      <th>Nombre</th>
      <th>Email</th>
      <th>NIF</th>
      <th>Teléfono Móvil</th>
      <th>Régimen</th>
      <th>Estado</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @colegiados.each do |colegiado| %>
      <tr>
        <td><%= colegiado.id.to_s %></td>
        <td><%= colegiado.numero %></td>
        <td><%= colegiado.nombre_completo %></td>
        <td><%= colegiado.email %></td>
        <td><%= colegiado.nif %></td>
        <td><%= colegiado.telefono_movil %></td>
        <td><%= colegiado.regimen_colegiado.literal %></td>
        <td><%= colegiado.estado %></td>
        <td>
          <%= link_to '', edit_colegiado_path(colegiado), remote: true, class: "fa fa-edit" %>
        </td>
        <td>
          <%= link_to '', colegiado_path(colegiado), remote: true, method: :delete,
                      class: "fa fa-trash", data: { confirm: '¿Confirma que quiere eliminar al colegiado?' } %>
        </td>
        <td>
          <div class="dropdown">
            <%= link_to '', '#', class: "dropdown-toggle fa fa-ellipsis-h", type:"button", id:"acciones_#{colegiado.id}", "data-toggle":"dropdown", "aria-haspopup":"true", 'aria-expanded':'true' %>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="acciones_<%= colegiado.id %>">
              <% if colegiado.regimen_colegiado.literal != 'Precolegiado' && colegiado.regimen_colegiado.literal != 'Emérito' %>
                <li>
                  <%= link_to 'Crear un Recibo', colegiado_presentar_documento_path(colegiado, documento_id: Documento.find_by(codigo: 'recibo')), remote: true, method: :post %>
                </li>
                <li role="separator" class="divider"></li>
              <% end %>
              <li>
                <%= link_to 'Certificado de Colegiación', colegiado_presentar_documento_path(colegiado, documento_id: Documento.find_by(codigo: 'certificado_colegiacion')), remote: true, method: :post %>
              </li>
              <li>
                <%= link_to 'Certificado de Cuotas', colegiado_presentar_documento_path(colegiado, documento_id: Documento.find_by(codigo: 'certificado_cuotas')), remote: true, method: :post %>
              </li>
              <li>
                <%= link_to 'Cambio de Estado', colegiado_presentar_documento_path(colegiado, documento_id: Documento.find_by(codigo: 'cambio_estado')), remote: true, method: :post %>
              </li>
              <li>
                <%= link_to 'Cambio de Régimen', colegiado_presentar_documento_path(colegiado, documento_id: Documento.find_by(codigo: 'cambio_regimen')), remote: true, method: :post %>
              </li>
              <% if colegiado.regimen_colegiado.literal != 'Precolegiado' && colegiado.regimen_colegiado.literal != 'Emérito' %>
                <li role="separator" class="divider"></li>
                <li>
                  <%= link_to 'Domiciliación Bancaria', colegiado_presentar_documento_path(colegiado, documento_id: Documento.find_by(codigo: 'domiciliacion_bancaria')), remote: true, method: :post %>
                </li>
              <% end %>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
