<%= form_for @causa_baja, remote:true, html: {autocomplete: 'off'} do |f| %>
  <div class="box-body">
    <%= render 'shared/errors', object: f.object %>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <%= f.label :nombre, 'Nombre *' %>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-ticket"></i>
            </div>
            <%= f.text_field :nombre, class: "form-control", required: "required", placeholder: "Nombre" %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= f.label :codigo, 'Código *' %>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-key"></i>
            </div>
            <%= f.text_field :codigo, class: "form-control", required: "required", placeholder: "Código" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="box-footer">
    <button type="submit" class="btn btn-success">Guardar</button>
    <button type="button" class="btn btn-danger cancelButton">Cancelar</button>
  </div>
<% end %>
<script>
$(document).ready(function(){
    $(".cancelButton").click(function(){
       $(".canvas_causa_baja").empty();
       $(".box_causa_baja").addClass('hidden');
    });
  });
</script>
