<table class='derecha'>
  <tr>
    <td><strong><%= colegiado.nombre_completo %></strong></td>
  </tr>
  <tr>
    <td>NIF: <strong><%= colegiado.nif %></strong></td>
  </tr>
  <tr>
    <td>Colegiado Nº <strong><%= colegiado.numero %></strong></td>
  </tr>
  <tr>
    <td>
      <% if colegiado.direccion_principal %>
        <%= colegiado.direccion_principal.direccion %><br>
        <%= colegiado.direccion_principal.codigo_postal %>,&nbsp;<%= colegiado.direccion_principal.poblacion %><br>
        <%= colegiado.direccion_principal.provincia.nombre %>
      <% end %>
    </td>
  </tr>
</table>
