<table>
  <tr class='centrado'>
    <% if documento.firma_1_cargo %>
      <td width="50%"><strong><%= documento.firma_1_cargo.nombre.upcase %></strong></td>
    <% end %>
    <% if documento.firma_2_cargo %>
      <td width="50%"><strong><%= documento.firma_2_cargo.nombre.upcase %></strong></td>
    <% end %>
  </tr>
  <tr class='centrado'>
    <% if documento.firma_1_cargo %>
      <td width="50%"><%= image_tag "http://#{host}:#{port}#{documento.firma_1_cargo.firma.url}", class: 'img-rounded', size: '100x100' %></td>
    <% end %>
    <% if documento.firma_2_cargo %>
      <td width="50%"><%= image_tag "http://#{host}:#{port}#{documento.firma_2_cargo.firma.url}", class: 'img-rounded', size: '100x100' %></td>
    <% end %>
  </tr>
  <tr class='centrado'>
    <% if documento.firma_1_cargo %>
      <td width="50%"><strong><%= documento.firma_1_cargo.colegiado.nombre_completo %></strong></td>
    <% end %>
    <% if documento.firma_2_cargo %>
      <td width="50%"><strong><%= documento.firma_2_cargo.colegiado.nombre_completo %></strong></td>
    <% end %>
  </tr>
</table>
