<section class="sidebar">
  <ul class="sidebar-menu">
    <li class="treeview active">
      <a href="<%= root_path %>" data-remote=true>
        <i class="fa fa-graduation-cap"></i>
        Colegiados
      </a>
    </li>
    <li class="treeview">
      <a>
        <i class="fa fa-file-excel-o"></i>
        Documentos generales
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li>
          <%= link_to 'Junta de Gobierno', colegio_presentar_documento_path(@colegio, documento_id: Documento.find_by(codigo: 'junta_gobierno')), remote: true, method: :post %>
        </li>
        <li>
          <%= link_to 'Junta General Ordinaria', colegio_presentar_documento_path(@colegio, documento_id: Documento.find_by(codigo: 'junta_general')), remote: true, method: :post %>
        </li>
        <li>
          <%= link_to 'Generar Modelo 13', documento_pdf_colegios_path(documento_id: Documento.find_by(codigo: 'modelo_13')), remote: true, method: :post %>
        </li>
        <li>
          <%= link_to "Etiquetas", etiquetas_colegiados_path(format: 'pdf'), target: '_blank' %>
        </li>
      </ul>
    </li>
    <li class="treeview">
      <a>
        <i class="fa fa-cogs"></i>
        Configuración General
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li>
          <%= link_to "Colegio", edit_colegio_path(@colegio), remote: true %>
        </li>
        <li>
          <%= link_to "Regímenes colegiados", regimen_colegiados_path, remote: true %>
        </li>
        <li>
          <%= link_to "Cargos", cargos_path, remote: true %>
        </li>
        <li>
          <%= link_to "Causas de baja", causa_bajas_path, remote: true %>
        </li>
        <li>
          <%= link_to "Entidades bancarias", bancos_path, remote: true %>
        </li>
        <li>
          <%= link_to "Cuentas bancarias", accounts_path, remote: true %>
        </li>
        <li>
          <%= link_to "Gestión de firmas", documentos_path, remote: true %>
        </li>
      </ul>
    </li>
    </li>
    <% if current_user.superadmin_role? %>
      <li class="treeview">
        <a href="<%= users_path %>" data-remote=true>
          <i class="fa fa-users"></i>
          Usuarios
        </a>
      </li>
    <% end %>
  </ul>
</section>
